#wrapper{
    font-family:Arial, sans-serif;
    margin:0;
    padding:10px;
    height:400px;
    width:300px
}

#wrapper #localsection img{
    height:10px;
}
#wrapper #localsection a{
    text-decoration:none;
    color:#333;
    padding:5px;
}
#wrapper #localsection #select-folder-location-in-local{
    display:flex;
    
    gap:2px;
}